body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eef;
  font-family: Arial, sans-serif;
}

form {
  background-color: #fde4f9e3;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid #090101;
  box-shadow: 0 0 10px rgba(130, 129, 129, 0.1);
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-top: 5px;
}

button {
  background-color: #830376;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #306edb;
}